@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #0052cc;
}

p {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dcdde1;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
